---
import SectionContainer from "./SectionContainer.astro";
import { Image } from "astro:assets";
import Skill from "./Skill.astro";
import Link from "./Link.astro";

const projects = [
  {
    title: "Inti Holística",
    date: "July 2023 - October 2023",
    desc: "Inti Holística offers professional guidance in your personal evolution, empowering your healing journey for more conscious and free life decisions.",
    imageSrc: "/images/inti-ss.jpeg",
    imageAlt: "Inti Holística Project",
    links: [
      {
        text: "Visit Live Site",
        url: "https://www.intiholistica.com",
      },
    ],
    icons: [
      { iconName: "logos:astro-icon", skillName: "Astro" },
      { iconName: "logos:react", skillName: "React" },
      { iconName: "logos:typescript-icon", skillName: "TypeScript" },
      { iconName: "logos:tailwindcss-icon", skillName: "Tailwind CSS" },
      { iconName: "logos:github-icon", skillName: "GitHub" },
    ],
  },
  {
    title: "Stylify",
    date: "January 2023 - April 2023",
    desc: "Stylify is a salon management app that helps beauty salons to enhance customer satisfaction and grow their business.",
    imageSrc: "/images/inti-ss.jpeg",
    imageAlt: "Stylify Project",
    links: [
      {
        text: "Visit Live Site",
        url: "https://capable-chebakia-c0d62d.netlify.app/",
      },
      {
        text: "Visit Repository",
        url: "https://github.com/team-heisenberg/stylify",
      },
    ],
    icons: [
      { iconName: "logos:react", skillName: "React Native" },
      { iconName: "logos:typescript-icon", skillName: "TypeScript" },
      { iconName: "logos:nodejs-icon", skillName: "Node.js" },
      { iconName: "logos:prisma", skillName: "Prisma" },
      { iconName: "logos:github-icon", skillName: "GitHub" },
    ],
  },
  {
    title: "Global Player",
    date: "September 2022 - December 2022",
    desc: "Global Player is a web platform that helps professional League of Legends teams make better decisions when recruiting and hiring new players.",
    imageSrc: "/images/inti-ss.jpeg",
    imageAlt: "Global Player Project",
    links: [
      {
        text: "Visit Repository",
        url: "https://github.com/zyzmoz/global-player",
      },
    ],
    icons: [
      { iconName: "logos:react", skillName: "React" },
      { iconName: "logos:javascript", skillName: "JavaScript" },
      { iconName: "logos:nodejs-icon", skillName: "Node.js" },
      { iconName: "logos:mongodb-icon", skillName: "MongoDB" },
      { iconName: "logos:html-5", skillName: "HTML5" },
      { iconName: "logos:css-3", skillName: "CSS3" },
      { iconName: "logos:sass", skillName: "Sass" },
      { iconName: "logos:github-icon", skillName: "GitHub" },
    ],
  },
  {
    title: "Get a Tat",
    date: "May 2022 - August 2022",
    desc: "Get a Tat is a website dedicated to tattoo artists, helping them showcase their work and connect with new clients while also facilitating booking requests.",
    imageSrc: "/images/inti-ss.jpeg",
    imageAlt: "Get a Tat Project",
    links: [
      {
        text: "Visit Repository",
        url: "https://github.com/juggler-dev/webapp_html_get-a-tat",
      },
    ],
    icons: [
      { iconName: "logos:javascript", skillName: "JavaScript" },
      { iconName: "logos:firebase", skillName: "Firebase" },
      { iconName: "logos:html-5", skillName: "HTML5" },
      { iconName: "logos:css-3", skillName: "CSS3" },
      { iconName: "logos:sass", skillName: "Sass" },
      { iconName: "logos:github-icon", skillName: "GitHub" },
    ],
  },
];
---

<SectionContainer id="projects" title="Projects" iconName="mdi:xml">
  {
    projects.map((project) => (
      <article class="flex flex-col max-w-[480px] mx-auto lg:max-w-full lg:flex-row items-center border border-gray-300 rounded-lg mb-10">
        <div class="flex flex-col justify-between p-4 leading-normal lg:order-2">
          <h3 class="flex items-center mb-1 text-2xl font-semibold">
            {project.title}
          </h3>
          <time class="block mb-2 text-sm leading-none">{project.date}</time>
          <p class="mb-2">{project.desc}</p>
          <div class="flex flex-col mb-4">
            {project.links.map((link) => (
              <Link text={link.text} href={link.url} />
            ))}
          </div>
          <div class="flex flex-wrap gap-3">
            {project.icons.map((icon) => (
              <Skill iconName={icon.iconName} skillName={icon.skillName} />
            ))}
          </div>
        </div>
        <Image
          src={project.imageSrc}
          alt={project.imageAlt}
          width={480}
          height={400}
          class="object-cover h-[380px] rounded-b-lg lg:rounded-tl-lg lg:rounded-tr-none lg:rounded-br-none "

        />
      </article>
    ))
  }
</SectionContainer>
